{% extends "base.html.twig" %}

{% block body %}

	<header>
		<h1>Bataille</h1>
		<div class="center">
			<input type="button" id="fight" value="Fight" onclick="nextTurn()"></input>
	</div>

</header>

<div class="container">
	<table class="child">
		<tr>
			<th>Nom</th>
			<th>PV</th>
			<th>Poison</th>
		</tr>
		{% for player in players_alive %}
			<tr>
				<td>{{ player.name }}</td>
				<td>{{ player.health }}</td>
				<td>{{ player.plague ? 'yes': 'no' }}</td>
			</tr>
		{% endfor %}
	</table>
	<div id="summary"></div>
</div>{% endblock %}
